<h2>Exercício 03 ngIf</h2>

<p>3 - Crie um select que permita selecionar um tipo de contato preferencial do usuário (WhatsApp ou Email)</p>

<label for="contato">Contato : </label>
<select id="contato" [(ngModel)]="contato">
    <option value="">Selecione</option>
    <option value="whats">WhatsApp</option>
    <option value="email">Email</option>
</select>

<div *ngIf="contato === 'whats'">
    <input type="tel" placeholder="WhatsApp">
</div>

<div *ngIf="contato === 'email'">
    <input type="email" placeholder="Email">
</div>

<hr>