.hiphop02 {

  height: 140px;
  width: auto;

}
.hiphop4 {

  height: 140px;
  width: auto;

}
.hiphop5 {

  height: 140px;
  width: auto;

}

.class1 {
  max-width: 100px;

}
.class2 {
  max-width: 100px;

}
.class3 {
  max-width: 100px;

}
