<h2>Exercicio 4</h2>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
          <img [class]="classe1" [src]="imagem1">
          <img [class]="classe2" [src]="imagem2">
          <img [class]="classe3" [src]="imagem3">
      </div>
      <div class="col-md-8">
          <img [class]="class1" [src]="img1">
          <img [class]="class2" [src]="img2">
          <img [class]="class3" [src]="img3">
      </div>
    </div>
  </div>
  <hr>





</div>
