<h2>Covid 19 REST - API</h2>

<button (click)="listarCovidEstadosBrasil()" class="btn-dark">Listar Covid19</button>

<br><br>


<div *ngIf="covid19">
    <table class="table table-striped">
        <tr>
            <th>Estado ID</th>
            <th>UF</th>
            <th>Estado</th>
            <th>Casos</th>
            <th>Mortes</th>
            <th>Suspeitos</th>
            <th>Refuses</th>
            <th>Data</th>
        </tr>
        <tr *ngFor="let covid of covid19">

            <td>{{covid.uid}}</td>
            <td>{{covid.uf}}</td>
            <td>{{covid.state}}</td>
            <td>{{covid.cases}}</td>
            <td>{{covid.deaths}}</td>
            <td>{{covid.suspects}}</td>
            <td>{{covid.refuses}}</td>
            <td>{{covid.datetime}}</td>
        </tr>
    </table>