<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ngIf & ngFor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <app-ng-ifexe01></app-ng-ifexe01>
        <app-ng-ifexe02></app-ng-ifexe02>
        <app-ng-ifexe03></app-ng-ifexe03>
        <app-ng-ifexe04></app-ng-ifexe04>
        <app-ng-for01></app-ng-for01>
        <app-ng-for02></app-ng-for02>
        <app-ng-for03></app-ng-for03>
        <app-ng-for04></app-ng-for04>
    </div>
</body>

</html>