.petroleo {
  color: darkgreen;
  font-weight: bold;
  background-color: yellow;
}

.petroleo2 {
  color: darkgreen;
  font-weight: bold;
  background-color: yellow;
  margin-right: 1710px;
  text-align: center;
}

